body {
    max-width: 1200px;
    margin: auto;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 0;
    background-color: #94A59C;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A6456;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
}


.header-head {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.header-contact{
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 100%;
}
.header-images{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%; 
}

main {
    padding: 20px;
}
#family{
    padding: 5px;
    border: 1px solid #333;
    background-color: #E7E7E8;

}
#Advantages{
    padding: 5px;
    border: 1px solid #333;
    background-color: #E7E7E8;
}
#price{
    padding: 5px;
    border: 1px solid #333; 
    background-color: #E7E7E8;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    border: 1px solid #333;
}

th, td {
    border: 1px solid #333; 
}

.image-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

img.one {
    height: auto; 
    width: 30%; 
    margin-right: 10px;
}
img.two {
    height: auto; 
    width: 30%; 

  
footer {
    background-color: #3A6456;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}